@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.columns {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.column {
  margin: 0 10px;
}

.column1 {
  flex: 1;
}

.column2 {
  padding-left: 30px;
  flex: 1;
}

html {
  height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("/images/Ratatouille.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 100%;
}

a {
  color: #00B7FF;
}

h1 {
    font-family: 'Pinyon Script', cursive;
    font-size: 6em;
    color: white;
    text-shadow: 2px 2px black;
}

.search-bar input, .search-bar button {
  display: block;
  width: 100%;
  margin: 10px 0 10px 0;
}

button.submit {
  background-color: rgba(144, 19, 254, 0.4) !important;
  border: none !important;
}

button.submit:hover {
  background-color: rgba(144, 19, 254, 0.6) !important;
}

.search-bar input {
  height: 40px;
  color: darkgrey;
}

.search-item {
  display:inline-block;
  font-size: 25px;
  background-color:rgba(255, 255, 255, 0.8);
  color:black;
  padding: 5px 10px;
  border-radius: 3px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li.search-item {
  margin-right: 5px;
  margin-bottom: 10px;
}

button.close-button {
  background-color:rgba(255, 255, 255, 0);
  outline: none;
  border: none;
}
button.close-button:before {
  content: 'X';
  color: #868484;
  font-size: 21px;
  right: -9px;
  top: 0px;
  position: relative;
}

h2 {
  font-size: 24px;
  text-shadow: 2px 2px black;
}

li.matchArray {
  list-style: none;
}

li.itemEl {
  background: rgba(139, 87, 42, 0.8);
  color: white;
  list-style: none;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}
